body {
    margin: 0;
    font-family: fantasy;
    background-color: whitesmoke;
}
#header {
    margin: 2ch 20% 0 20%;
    text-align: center;
    border: 3px black solid;
    background-color: white;
}
#main_box {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#maininnerDiv {
    width: 80%;    
}
.satzDiv {
    margin-top: 2vh;
    height: 90px;
    border: 4px black solid;
    border-radius: 2ch;
    background-color: rgb(255, 255, 255);
}    
.satzinnerDiv {
    margin-top: 1vh;
    margin-left: 1vh;
    width: 50%;
    border-bottom: 2px black solid;
}
#submitDiv {
    display: flex;
    justify-content: center;
}
#main_form_button {
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 220px;
    height: 50px;
    border: 3px black solid;
    font-size: 2ch;
    font-family: fantasy;
    color: white;
    background-color: blue;
}
#main_form_button:hover {
    background-color: darkblue;
}
#redirect_button {
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 220px;
    height: 50px;
    border: 3px black solid;
    font-size: 2ch;
    font-family: fantasy;
    color: white;
    background-color: blue;
}
#redirect_button:hover {
    background-color: darkblue;
}
.antwort {
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    margin-left: 10%;
    width: 80%;
    font-size: 2ch;
    border: 3px black solid;
    border-radius: 1ch;
    text-align: center;
}